.main-menu, .pause-menu, .end-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 1200px;
    background: rgba(31, 7, 99, 0.9);
    border-radius: 15px;
    z-index: 1000;
    padding: 20px;
    color: whitesmoke;
    border: 5px solid whitesmoke;
}

.pause-menu, .end-menu {
    display: none;
}






.main-menu {
    --borderWidth: 3px;
    background: #1D1F20;
    /* position: relative; */
    border-radius: var(--borderWidth);
  }
  .main-menu:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 20s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
























.main-menu > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    margin: 0px;
}


.album-art > img {
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.album-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-art:hover {
    cursor: pointer;
}


.album-art > h3 {
    margin-top: 50px;
}


#escape-pause {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    display: block;
    color:white;
    /* height: 100px; 
    width: 100px; */
}

#song-carousel {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    height: 100%;
    width:100%;
    margin: 0;
    float: left;
    perspective: 800px;
    /* border: 1px solid red; */
}


/* #song-carousel {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  #song-carousel:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 20s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
   */



.rotate-left-album {
    /* -ms-transform-origin-z: rotate(-90deg); */
    margin-right: -100px;

    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    /* line-height: 200px;
    background: blue; */
    transform: rotateY(30deg);
    transition: all 0.5s ease;
}

.rotate-left-album::after{
    transform: rotateY(0deg);
}


.centered-album{
    text-align: center;
    z-index: 100 !important;
    transition: all 0.5s ease;
    animation-name: spotlight-album;
    animation-duration: 1.3s;
}


.centered-album > img {
    transform: scale(1.2);
    margin: 80px 20px 0px 20px;
    box-shadow: 0px 0px 20px 3px black;
    transition: all 0.3s ease;

}


.rotate-right-album{
    margin-left: -100px;
    float: right;
    width: 200px;
    height: 200px;
    text-align: center;
    /* line-height: 200px;
    background: blue; */
    transform: rotateY(-30deg); 
    transition: all 0.5s ease;
}

.rotate-right-album::after{
    transform: rotateY(0deg);
}


@keyframes spotlight-album {
    0% {margin: 0px;
        transform: rotateY(10deg);}
    20% {margin: 0 10px 0px 10px;
        transform: rotateY(-10deg);}
    100% {margin: 0;
        transform: rotateY(0deg);}
  }

  
  


#help-btn, #volume-btn {
      font-size: 14px;
      border-style: none;
      height: 50px;
      z-index: 100;
    background-color: white;
  }



  #start-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin: 0;
  }

  #help-btn {
    position: absolute;
    left: 5px;
    bottom: 5px;
    margin: 0;
  }

  #volume-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0;
  }



