.main-menu, .pause-menu, .end-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 800px;
    background: rgba(31, 7, 99, 0.9);
    border-radius: 15px;
    z-index: 1000;
    padding: 20px;
    color: whitesmoke;
    border: 5px solid whitesmoke;
}

.pause-menu, .end-menu {
    display: none;
}

.main-menu > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    margin: 0px;
}


.album-art > img {
    max-height: 200px;
    max-width: 200px;
}

.album-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#escape-pause {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    display: block;
    color:white;
    /* height: 100px; 
    width: 100px; */
}

#song-carousel {
    font-size: 14px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: row; */
    height: 100%;
    width:100%;
    margin: 0;
    float: left;
    perspective: 800px;
}



.rotate-left-album {
    /* -ms-transform-origin-z: rotate(-90deg); */
    margin-right: -100px;

    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    /* line-height: 200px;
    background: blue; */
    transform: rotateY(30deg);
    transition: all 0.5s ease;
}

.rotate-left-album::after{
    transform: rotateY(0deg);
}


.centered-album{
    text-align: center;
    z-index: 100 !important;
    transition: all 0.5s ease-in-out;
    animation-name: spotlight-album;
    animation-duration: 0.5s;
}


.centered-album > img {
    transform: scale(1.2);
    margin: 0px 50px 0px 50px;
    box-shadow: 0px 0px 20px 3px black;
}


.rotate-right-album{
    margin-left: -100px;
    float: right;
    width: 200px;
    height: 200px;
    text-align: center;
    /* line-height: 200px;
    background: blue; */
    transform: rotateY(-30deg); 
    transition: all 0.5s ease;
}

.rotate-right-album::after{
    transform: rotateY(0deg);
}


@keyframes spotlight-album {
    0% {margin: 20;}
    50% {margin: 0 20px 0 20px;}
    100% {margin: 0;}
  }
  